/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.ipynb_checkpoints
.DS_Store
/.vscode
.python-version
Pipfile.lock

/pyoneer/rl/baselines
/pyoneer/training/conjugate_gradient_solver_impl.py
/pyoneer/training/linesearch_solver_impl.py
