[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-probability = "*"
gym = "*"
trfl = {git = "git://github.com/deepmind/trfl.git"}
dm-sonnet = "*"
wrapt = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6.5"
