[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
tensorflow = "==2.0.0-beta0"
tfp-nightly = "*"

[requires]
python_version = "3.6.5"

[dev-packages]
ipdb = "*"
pre-commit = "*"
