[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
tensorflow = "==2.2.0"
tensorflow-probability = "==0.9.0"
six = "*"

[requires]
python_version = "3.6.9"

[dev-packages]
ipdb = "*"
pre-commit = "*"
twine = "*"
